/* esto es del Login */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.imagen{
    height: 450px;
    width: 450px;

}
.arrow {
    float: right;
  }
  .card-body.collapsed {
    display: none;
  }
  
.mybody{
  background-image:url("../imagenes/fondo-onda-blanca-suave_52683-55288.avif");
  /*url("../imagenes/fondos.webp")*/
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: #343a40; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  padding: 20px; /* Espaciado interno del footer */
  text-align: center; /* Alineación del texto al centro */
  min-height: 34vh;
}
header{
  background-color: #343a40; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  padding: 20px; /* Espaciado interno del footer */
  text-align: center; /* Alineación del texto al centro */
}